# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/migrations
src/lib/prisma

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
public/videos/drama-48/Cocos Creator _ findthecow.html
public/videos/drama-48/Cocos Creator _ findthecow_files/
